* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../images/webbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: crimson;
}
nav {
    color: white;
    background-color: rgb(0, 39, 78, 0.7);
    padding: 20px;
    border: none;
    overflow: auto;
    position: sticky;
    top: 0;
    left: 0;
    height: auto;
}
ul {
    list-style-type: none;
}
li {
    float: left;
    padding: 0px 10px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: auto;
}
#leftnav {
    float: left;
    margin-left: 50px;
}
#rightnav, .imgfloat {
    float: right;
}
footer {
    background-color: rgb(0, 39, 78);
    clear: both;
    background-size: 100%;
    height: auto;
    text-align: center;
    color: crimson;
    padding: 20px;
    position: fixed;
    bottom:0;
    width: 100%;
}
#rightnav span {
    border-radius: 20px;
    background-color: yellow;
    color: rgb(0, 39, 78);
    padding: 5px;
}
a {
    text-decoration: none;
    color: crimson;
}
#rightnav a:hover {
    color: white;
}
#rightnav span:hover {
    color: red;
}
#home {
    height: auto;
    text-align: center;
    margin: 100px;
}
#home .container{
    margin: 0 auto
}
#home span {
    color: blue;
}
.bodydesign {
    background-color: rgba(255, 255, 255, 0.8);
    height: auto;
    width: 50%;
    margin: 80px auto;
    padding: 10px;
}
.bodydesignn{
    background-color: rgba(255, 255, 255, 0.8);
    height: auto;
    width: 80%;
    margin: 80px auto;
    padding: 15px;
}
input , textarea{
    display: block;
    width: 100%;
    padding: 5px;
}
.btn {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(0, 39, 78);
    color: white;
    border: none;
}
.bodydesign h1 {
    text-align: center;
}
.box {
    padding: 15px;
    margin: 5px;
    border: rgb(0, 39, 78, 0.7) 2px dashed;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20px
}
#discription:hover {
    color: crimson;
}
#market h1{
    text-align: center
}
.box a{
    color: rgb(2, 51, 100);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.containerr {
    max-width: 1100px;
    margin: 80px auto ;
    padding: 0 20px;
    overflow: auto;
}
.imgfloat img {
    padding: none;
    border-radius: 10px;
}
.block {
    display: inline-block;
}
.btn:hover {
    color: crimson;
}

.clr{
    clear: both;
}

.container2 p{
    text-align: center;
    color: white;
    margin-top: 5px
}
.bodydesign2 {
    background-color: rgba(255, 255, 255, 0.8);
    height: auto;
    width: 50%;
    margin: 80px auto 0 auto;
    padding: 10px;