{% extends 'base.html' %}

{% block title%}
Add Page
{% endblock %}

{% block body %}
<div class="container bodydesign">
    {% if user.is_authenticated %}
    <div id="add">
        <h1>Add Car</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Add Car" class="btn">
        </form>
    </div>
    {% else %}
    <div class="textcenter">
        <p><i class="fas fa-lock fa-7x"></i></p>
        <br>
        <p>Sorry you can't add untill <a href="{% url 'login' %}">Login</a></p>        
    </div>
    {% endif %}
</div>

{% endblock %}
