{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block body %}
<div id="home">
    <div class="container bodydesignn" >
        
        <h1>Welcome to <span>CarMarket</span></h1>
        <br>
        <p>Our website will let you see a lot of cars type by diffrent prices and quality also you can add a car you want to sell</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates aspernatur illum? Repellat quae beatae temporibus repudiandae optio perspiciatis doloribus! Veniam quo sit totam maiores, enim ratione non qui repudiandae?</p>
        <br>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet accusamus ut a vitae. Commodi omnis cumque quas. Ducimus aliquid recusandae architecto unde odit?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, illum architecto consequuntur voluptatibus quae nesciunt? Deserunt tenetur vel maxime, dolore quaerat quos, nemo incidunt inventore corrupti esse, est magnam rerum cupiditate? Cupiditate vel hic blanditiis repudiandae officiis a non eum. Quasi ipsam non labore debitis adipisci. Veritatis porro eaque laboriosam.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sit soluta dolorum inventore est? Suscipit dolores molestias corporis atque culpa placeat aspernatur architecto voluptate molestiae fuga est, quos aliquam nobis minus, dicta saepe eius nulla? Assumenda praesentium esse maxime repellat iusto nisi alias recusandae.</p>
        
    </div>
</div>
{% endblock %}