{% extends 'base.html' %}

{% block title%}
    Home Page
{% endblock %}

{% block body %}
<div class="container bodydesign">
    <h1>Market</h1>

    {% if messages %}
    <div class="msgs">
        {% for i in messages %}
        <p>{{i}}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% for i in Cars %}
    <div class="box">
        <br>
        <img src="{{i.picture}}" alt="car image">
        <p><a id="discription" href="{{i.get_absolute_url}}">{{i.ad_description}}</a></p>
        <p>{{i.mamsha}}</p>
        <p>{{i.publish_on |date:"D d M Y"}}</p><p>{{i.car_model}}</p>
        <p>{{i.car_type}}</p><p>{{i.car_price}}</p><br>
    </div>
    {% empty %}
    <p>No Cars is found</p>
    {% endfor %}
</div>
{% endblock %}