{% extends 'base.html' %}

{% block title%}
    Home Page
{% endblock %}

{% block body %}
<div class="container">
    <h1>Market Page</h1>


    {% if messages %}
    <div class="msgs">
        {% for i in messages %}
        <p>{{i}}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% for i in Cars%}
    <div class="box">
        <p><a href="{{i.get_absolute_url}}">{{i.ad_description}}</a> / {{i.mamsha}}</p>
        <p>{{i.mamsha}} on {{i.publish_on |date:"D d M Y"}}</p><p>i.car_model</p>
        <p>i.car_type</p><p>i.car_price</p>
    </div>
    {% empty %}
    <p>No Cars is found</p>
    {% endfor %}
</div>
{% endblock %}